/* body{
background: #8758ff;
}

.toDo_Text{
    text-align: center;
    font-family: "source-code-pro";
    font-size: larger;
}
.main{
    margin-top: 10px;
    display: flex;
    justify-content: center
}
.textTask{
    border-radius: 2px;
    padding: 10px;
    width: 40%;
}
.taskArea{
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin: 1% 20%;
}
.addTaskBtn{
    border-radius: 2px;
    cursor: pointer;
}
.removeTaskBtn{
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;

} */