.main{
    background-color: rgb(77, 155, 232);
    width: 95%;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    padding: 20px;  
    border: 2px solid rgb(168, 227, 51);
}

body{
background-color: rgb(10 51 92);
color: white;
}
h1{
    text-align: center;
    color: white;
}
.textTask{
    width: 20%;
    height: 25px;
    padding: 5px;
}
.main-Two{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.taskArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(29, 108, 187);
    gap: 20px;
    border-radius: 5px;
}
